.resume {
  max-width: 900px;
  margin: 37px auto 37px;
  width: 100%;

  &-header {
    width: 100%;
  }

  &-header,
  &-job {
    display: grid;
    grid-template-columns: 92px 5fr minmax(190px, 2fr);
    grid-gap: 55px;
  }

  &-position {
    font-size: 19px;
    line-height: 30px;
    margin: 10px 0 30px;
  }

  &-links {
    display: flex;
    justify-content: flex-end;
    height: 20px;
    margin-top: 17px;
    margin-bottom: 38px;
  }

  &-link {
    fill: var(--color-icon);
    width: 20px;
    display: block;
    opacity: 0.33;
    font-size: 0;
    margin-right: 25px;
    transition: opacity 0.25s ease-out;
    background-size: contain;

    &:hover {
      opacity: 1;
      transition: opacity 0s;

      &::after {
        background-color: transparent;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &-stack {
    text-align: right;
    margin-top: 14px;
    margin-right: -4px;
  }

  &-technology {
    display: inline-block;
    color: var(--color-technology-fg);
    background-color: var(--color-technology-bg);
    font-family: var(--font-monospace);
    font-size: 14px;
    padding: 2px;
    border-radius: 3px;
    margin: 0 4px 8px;
  }

  &-backLink:hover::after {
    background-color: unset;
  }

  &-date {
    text-align: center;
    position: relative;

    span {
      display: block;

      &:first-child::after {
        content: '|';
        display: block;
      }
    }
  }

  &-jobs {
    margin-top: 53px;
  }

  &-avatar {
    max-width: 90px;
    border-radius: 50%;
    margin-top: 7px;
    max-height: 90px;
  }

  &-heading {
    font-size: 57px;
    line-height: 60px;
    margin: 1px 0 18px;
  }

  &-subheading {
    margin: 7px 0 0;
    font-size: 19px;
    line-height: 11px;
  }

  &-contacts {
    text-align: right;
    color: var(--color-text);
    margin: 17px 0 0;
  }
}

@media screen and (max-width: 890px) {
  .resume-heading {
    margin: -6px 0 15px;
  }
}

@media screen and (max-width: 750px) {
  .resume {
    margin: 15px auto 37px;

    &-position {
      margin: 20px 0 29px;
    }

    &-header {
      display: flex;
      flex-direction: column;
    }

    &-heading {
      font-size: 35px;
      margin: 14px 0 10px;
      line-height: 41px;
    }

    &-contacts {
      text-align: left;
      margin: 29px 0 0;
    }

    &-avatar {
      align-self: center;
      max-width: 100px;
      max-height: 100px;
    }

    &-backLink {
      align-self: center;
      margin-top: 6px;
    }

    &-job {
      margin-top: 52px;
      display: flex;
      flex-direction: column;
      position: relative;
    }

    &-jobs {
      margin-top: 10px;
    }

    &-date {
      position: absolute;
      font-size: 14px;
      top: -19px;

      span {
        display: inline;

        &:first-child::after {
          content: ' — ';
          display: inline;
        }
      }
    }

    &-links {
      top: -21px;
      position: absolute;
      right: 0;
    }

    &-stack {
      text-align: left;
      margin-top: 7px;
      margin-left: -4px;
      margin-bottom: 13px;
    }
  }
}
